.s-listing-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
  grid-column: 1 / 4;
  width: fit-content;

  @media (max-width: 1400px) {
    width: 100%;
  }

  @media (max-width: 600px) {
    margin-top: 1rem;
  }

  .s-listing-message {
    text-align: left;

    .s-warning-message,
    .s-info-message {
      border-radius: 5px;
      padding: 0.3rem;
      font-weight: 700;
      font-size: 14px;

      > i {
        margin-right: 5px;
      }
    }

    .s-warning-message {
      background-color: $warning-message;
      color: $black;
    }

    .s-info-message {
      background-color: $info-message;
      color: $white;
    }
  }
}
