@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

//Variables
$primary-color: #003082;
$primary-color-disabled: #0040af;
$secondary-color: #f7d417;
$secondary-color-disabled: #f7e17a;
$secondary-color-hv: darken($secondary-color, 20%);
$white-bg: #e6e6e9;
$black: #000;
$white: #fff;
$red: #ff0000;
$warning-message: lighten(#f7d417, 25%);
$info-message: lighten(#003082, 25%);
$font-family: 'Open Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $white;
    color: $black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}